body{
    font-size: 0.9375rem;
    color: var(--slightly-transparent-white);
    font-family: 'Inter', sans-serif;
}

.main-div__2nd-column{
    text-align: center;
    font-weight: 400;
}

.main-div__2nd-column h1{
    color: var(--neutral-white);
    font-size: 1.8rem;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-div__2nd-column h1 span{
    color: var(--soft-violet);
}

.insight-stats-header{
    color: var(--neutral-white);
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}


@media (min-width: 1300px) {

    .main-div__2nd-column{
        text-align: left;
    }

    .main-div__2nd-column > p{
        margin-bottom: 55px;
        font-size: 1rem;
        max-width: 90%;
    }
    
    .main-div__2nd-column h1{
        font-size: 2.4rem;
    }    

    .insight-stats-header{
        font-size: 1.5rem;
    }    

}